
.cube .front {
    transform:
            translateZ(6em);
}

.cube .back {
    transform:
            rotateX(-180deg)
            translateZ(6em);
}

.cube .right {
    transform:
            rotateY(90deg)
            translateZ(6em);
}

.cube .left {
    transform:
            rotateY(-90deg)
            translateZ(6em);
}

.cube .top {
    transform:
            rotateX(90deg)
            translateZ(6em);
}

.cube .bottom {
    transform:
            rotateX(-90deg)
            translateZ(6em);
}

.container {
    padding: 0 50px;
    font-size: 30px; /* pxdice size*/
    margin-top: 7em;

    width: 12em;
    height: 12em;


    /*border: 1px solid #FFF;  to see real size*/

    perspective: 1000px;
    perspective-origin: 50% 100%;
    display: inline-flex;
}

.cube {

    width: 100%;
    height: 100%;
    background: none;
    border: none;
    transform-style: preserve-3d;

    transition: transform 1s;
}
.cube:hover {
    cursor: pointer;
}

.cube div {
    background: radial-gradient(  #9c27b0, #673ab7);
    display: block;
    position: absolute;
    width: 12em;
    height: 12em;
    border: 1px solid #470486;

    margin: 0 auto;

}

.dot {
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    background: #fff;
    border-radius: 1em;
}

.cube__holder {
    width: 100%;
    display: flex;
    justify-content:space-between;
    place-content: center;



}

.front .dot1 { top: 5em; left: 5em; }
.back .dot1 { top: 2.5em; left: 2.5em; }
.back .dot2 { top: 7.5em; left: 7.5em; }
.right .dot1 { top: 2.5em; left: 2.5em; }
.right .dot2 { top: 5em; left: 5em; }
.right .dot3 { top: 7.5em; left: 7.5em; }
.left .dot1 { top: 2.5em; left: 2.5em; }
.left .dot2 { top: 2.5em; left: 7.5em; }
.left .dot3 { top: 7.5em; left: 2.5em; }
.left .dot4 { top: 7.5em; left: 7.5em; }
.top .dot1 { top: 2.5em; left: 2.5em; }
.top .dot2 { top: 2.5em; left: 7.5em; }
.top .dot3 { top: 5em; left: 5em; }
.top .dot4 { top: 7.5em; left: 2.5em; }
.top .dot5 { top: 7.5em; left: 7.5em; }
.bottom .dot1 { top: 2.5em; left: 2.5em; }
.bottom .dot2 { top: 2.5em; left: 5em; }
.bottom .dot3 { top: 2.5em; left: 7.5em; }
.bottom .dot4 { top: 7.5em; left: 2.5em; }
.bottom .dot5 { top: 7.5em; left: 5em; }
.bottom .dot6 { top: 7.5em; left: 7.5em; }



@media (max-width: 768px) {

    .container {

        font-size: 25px; /* pxdice size*/

    }

}
